[submodule "submodules/hypergraph"]
	path = submodules/hypergraph
	url = git@github.com:geo-explorers/hypergraph.git
[submodule "submodules/geo-sdk"]
	path = submodules/geo-sdk
	url = git@github.com:geobrowser/geo-sdk.git
